<div class="row">
    <div class="col-md-6 offset-3 text-center">
        <h2>Order Completed Successfully</h2>
        <p>You can chekc all your Orders in the Orders Section of your Profile</p>
        <hr/>
        <p>Thank you!</p>
    </div>
</div>