﻿<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Access Denied !</h2>
        <a class="btn btn-outline-danger" asp-action="Index" asp-controller="Movies">Go Back</a>
    </div>
</div>