@model User
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<h4>New User</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" class="text-danger">
            <div asp-validation-summary="ModelOnly">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>
